.inicio {
  padding-top: 120px;
  text-align: center;
  border-bottom: 2px solid var(--roxo-1);
  background-image: url("../img/Group\ 6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
.caixa-inicial {
  padding: 120px 60px;
  border: 2px solid var(--roxo-1);
  position: relative;
  text-align: center;
  border-radius: 80px;
  margin: 0 auto;
  max-width: 600px;
  background-color: var(--branco);
}
.caixa-inicial h1 {
  margin-bottom: 36px;
}
.inicio .botao {
  margin-top: 40px;
  margin-bottom: 80px;
}
@media (max-width: 1000px) {
  .inicio {
    padding-left: 40px;
    padding-right: 40px;
  }
  .caixa-inicial {
    padding: 80px 40px;
  }
  .caixa-inicial h1 {
    margin-bottom: 20px;
  }
}
@media (max-width: 600px) {
  .inicio {
    background-image: url("../img/Group\ 5.jpg");
  }
}
